.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

.title_about {
    display: flex;
    font-size: 2em;
    justify-content: center;
}

.text_content_about {
    padding: 2%;
    margin-top: 2vh;
    text-align: justify;
    border: 1px solid white;
    width: 40%;
    height: 80%;
}

.text_content_about>p {
    font-size: 1.5em;
    margin-top: 2%;
    line-height: 1.5em;
}